div {
    padding: 10px;    
}

.message {
   border: solid 1px #05F29B; 
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px;
   margin: 10px;
   background-color: #F2CB05;
}

.phrase {
    color: #6F04D9;
    font-style: italic;    
}